
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<a href="/Transactions/AddNew">
    <div style="background-color:aqua; width:200px; height:50px">
        Add Transaction.
    </div>
</a>
<br />
<a href="/Transactions/Show">
    <div style="background-color:burlywood; width:200px; height:50px">
        See Transactions.
    </div>
</a>
<br />
<a href="/Report/default">
    <div style="background-color:cadetblue; width:200px; height:50px">
        See Report.
    </div>
</a>